.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*
 * Sidebar Section
 */

.Left_sidebar {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  width:15%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
}

.Sidebar_tab {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 15% auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center; 
  justify-content: center;
  top: 0;  
}

.Sidebar_icon_container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; 
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 36%;
}
.Sidebar_icon {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; 
  margin: 8%;
  opacity: 0.5;
}
/* 
 * Content & Footer Section 
 */

.Content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 85%;
}

/* Intro section */

.Intro {
  display: flex;
  height: 100vh; 
}

.Intro_img{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("images/selfie.jpg") no-repeat center center;
  background-size: cover;
  -webkit-box-flex: 2;
    -ms-flex: 2 0 auto;
        flex: 2 0 auto;
  height: 100vh; 
  width: 65%;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Quote {
  font-size: 250%;
  padding: 7%;
}

.Intro_column {
  margin: 25px;
  height: 100vh; 
  width: 35%;
  overflow: scroll;
}

.Intro_content {
  padding-top: 15%;
  margin: 0 auto;
  width: 85%;
}

/* Project Section */

.Project {
  width:100%;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
}

.table {
  margin-bottom: 3em;
}


/*
 * Contact Section
 */
.Contact {
  width:100%;
}
.Contact_content {
  margin-left: 2em;
  margin-bottom: 3em;
}

/*
 * Footer Section
 */
.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3vh;
  background-color: #bedb9d; 
  -webkit-box-pack: end;
    -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top:1.5vw;
}

.Footer_content {
  -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto; 
  padding-right:3%; 
}
/*
 * Text Styles  
 */ 
a:link {
  text-decoration:none;
  color: #66b2ff; 
}
a:visited {
  color: #66b2ff;
}
.Sidebar_text {
  font: 200 26px 'Fira Sans', sans-serif;
  text-align: left;
  cursor: pointer;
}

.Sidebar_text:hover {
  color: #bedb9d;  
}

.Sidebar_tab_inactive {
  color: white; 
}

.Sidebar_tab_active {
  color: #bedb9d; 
}

a.Sidebar_text:link {
  color: white;
}

a.Sidebar_text:visited {
  color: white;
}

.Sidebar_icon_style {
  font-size: 38px; 
  color: white;
}

.Sidebar_icon:hover {
  opacity: 100;
}

.Title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 48px;
  line-height: 18vh;
  text-align: center;
}

.Text {
  margin: auto;
  font: 1.35vw/1.6em 'Fira Sans Condensed', sans-serif;
  text-align: justify;
}

.Footer_text {
  text-align: right; 
  font-size:14px;
}

