.App {
  display: flex;
}

.Left_sidebar {
  display: flex;
  background-color: #222;
  width: 10%;
  flex: 1 0 auto;
  flex-direction: column;
}

.Content{
  display: flex;
  flex-wrap:wrap;
}

.Top {
  display: flex;
  height: 100vh; 
  flex: 8 0 auto;
}

.Splash-img-background {
  background-color: white;
}

.Top_img{
  display: flex;
  background: url("images/selfie.jpg") no-repeat center center;
  background-size: cover;
  flex: 2 0 auto;
  height: 100vh; 
  width: 65%;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Quote {
  font-size: 250%;
  padding: 7%;
}

.Category {
  flex: 0 1 auto; 
  color: white;
  padding-left: 7%;
  margin: 12px;
  font-size: 26px;
}
#divider.Category {
  flex: 30 1 auto;
}
.icon { 
  flex: 1 1 auto;  
}
.Intro {
  margin: 25px;
}
.Title {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 4em;
}

.Intro_text {
  font-family: 'Helvatica', sans-serif; 
  font-size: 16px; 
}

div#content-img-holder.Text {
  display: flex; 
  flex-wrap: wrap;
}

.content-img {
  height: 18em; 
  width: 18em;
  flex: 0 0 auto;
  object-fit: contain;
  margin: 0.2em;
  border-left: none;
  filter: grayscale(80%);
}
.content-img:hover{
  flex: 0 0 auto;
  filter: none;
  border-left: 0.4em solid #4ca6ff;
}
.content-p-img {
  height: 18em; 
  width: 18em;
  flex: 0 0 auto;
  object-fit: contain;
  margin: 0.2em;
}

.Work {
  order:1; 
  flex-grow:8;
}

#project {
  padding-bottom: 10%;
  width: 100%;
}

.Text {
  margin: auto;
  font-size: 18px; 
  font-weight: 500;
  line-height: 185%;
  padding-right: 10%;
  padding-bottom: 0.8em;
  width: 75%;
  text-align: justify;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
