.App {
}

.Splash-img-background {
  background-color: white;
}

.Splash-img {
  display: flex; 
  align-items: flex-end;
  flex-wrap: wrap;
  background-image: url("images/selfie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 88%;
  height: 100vh;
  color: white;
}

.Quote {
  font-size: 250%;
  padding: 7%;
  align-self: center;
}

.Navbar {
  display: flex;
  background-color: #222;
  width: 100%;
  margin-top: auto;
  overflow: auto;
  position: fixed;
}

.Category {
  flex: 0 1 auto; 
  color: white;
  padding-left: 7%;
  margin: 12px;
  font-size: 26px;
}
#divider.Category {
  flex: 30 1 auto;
}
.icon { 
  flex: 1 1 auto;  
}
.Sub {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 4em;
}

.My-story {
  order: 1; 
  flex-grow: 1; 
}

div#content-img-holder.Text {
  display: flex; 
  flex-wrap: wrap;
}

.content-img {
  height: 18em; 
  width: 18em;
  flex: 0 0 auto;
  object-fit: contain;
  margin: 0.2em;
}

.content{
  /*temporary test for banner float*/
  padding-left: 2%;
  /*background-color: #f5f5dc;*/
}

.Work {
  order:1; 
  flex-grow:8;
}

.Text {
  margin: auto;
  font-size: 18px; 
  font-weight: 500;
  line-height: 185%;
  padding-right: 10%;
  padding-bottom: 0.8em;
  width: 75%;
  text-align: justify;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
